html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevent scrolling */
    background-color: #151314;
}

@font-face {
    font-family: 'alien';
    src: url('../media/fonts/Alien-Encounters-Bold-Italic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'octo';
    src: url('../media/fonts/TT-Octosquares-Trial-Condensed-Regular.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'square';
    src: url('../media/fonts/Square.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}