.container-login {
	position: absolute;
	display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    display: flex;
    justify-content: center;
	height: 100%;
    width: 100%;
}

.card-login h2 {
    padding-bottom: 20px;
    color: #f9eaff;
    text-shadow: 2px 2px black;
    font-family: 'alien';
    font-size: 3.5rem;
    animation: glow 1.5s infinite alternate;
}

@keyframes glow {
    from {
        text-shadow: 0 0 5px #b700ff, 0 0 10px #b700ff, 0 0 20px #b700ff, 0 0 40px #b700ff;
    }
    to {
        text-shadow: 0 0 10px #b700ff, 0 0 20px #b700ff, 0 0 40px #b700ff, 0 0 80px #b700ff;
    }
}

.login-form {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
	width: 100%;
	background-color: transparent;
}

.form-label-username {
    width: 100%;
    align-content: center;
    font-family: 'square';
    color: #f9eaff;
}

.form-label-password {
    padding-top: 20px;
    font-family: 'square';
    color: #f9eaff;
}

.input-group {
    padding-bottom: 20px;
}

.login-btn {
    font-family: 'square';
    font-size: 1rem;
    width: 100%;
    padding: 7px;
    border-radius: 20px;
    border: 3px solid #b700ff;
    background-color: #151314;
    color: #e3dce6;
    transition: all 0.3s ease;
    margin-top: 10px; /* Add margin to space the buttons */
}

.login-btn:hover {
    border-color: #39ff14;
}

.sing-up-text{
    font-family: 'square';
    color: #f9eaff;
}

.register-here-text {
    text-decoration-line: none;
    font-family: 'square';
}

.register-here-text:hover{
    font-weight: bold;
    text-decoration: none;
    color: #39ff14;
    cursor: pointer;
}