.profile-container {
    align-items: center;
    max-height: 15%;
}

#profileImage {
    position: absolute;
    width: 100px !important;
    height: 100px !important;
    padding: 0px !important;
    border-radius: 50%;
}

.user-info {
    margin-left: 10px;
    padding: 0px;
    display: flex;
    flex-direction: column;
}

#text-user {
    margin-bottom: 5px;
}

.custom-modal .modal-content {
    background-color: black;  /* Black background */
    color: white;  /* White text */
    border: 2px solid white;  /* White outline around the modal */
    border-radius: 10px;  /* Optional: rounded corners */
}

.custom-modal .modal-header {
    background-color: black; /* Keep the header black */
    color: white; /* White text for title */
}

.custom-modal .modal-body {
    color: white; /* Make text inside the body white */
}

#qr-code-container {
    top: 0%;
    padding: 20px;
    border-radius: 3%;
    margin-top: 2%;
}

#playingHabits {
    max-height: 100%;
}

.sidebar-game, .sidebar-tour {
    height: 10%;
}