.container-register {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.card-register {
    margin-top: 25px;
}

.card-register h2 {
    color: #f9eaff;
    text-shadow: 2px 2px black;
    font-family: 'alien';
    font-size: 3.5rem;
    animation: glow 1.5s infinite alternate;
}

@keyframes glow {
    from {
        text-shadow: 0 0 5px #b700ff, 0 0 10px #b700ff, 0 0 20px #b700ff, 0 0 40px #b700ff;
    }
    to {
        text-shadow: 0 0 10px #b700ff, 0 0 20px #b700ff, 0 0 40px #b700ff, 0 0 80px #b700ff;
    }
}

.container-register h2 {
    color: #f9eaff;
    text-shadow: 2px 2px black;
    font-family: 'alien';
    font-size: 3.5rem;
    animation: glow 1.5s infinite alternate;
}

.registration-form {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
	width: 100%;
	background-color: transparent;
}

.form-label-reg {
    margin: 3px;
    margin-top: 15px;
    width: 100%;
    align-content: center;
    font-family: 'square';
    color: #f9eaff;
}

.register-btn {
    font-family: 'square';
    font-size: 1rem;
    width: 100%;
    padding: 7px;
    border-radius: 20px;
    border: 3px solid #b700ff;
    background-color: #151314;
    color: #e3dce6;
    transition: all 0.3s ease;
    margin-top: 50px; /* Add margin to space the buttons */
}

.register-btn:hover {
    border-color: #39ff14;
}

.sign-in-text {
    font-family: 'square';
    color: #f9eaff;
}

.login-here-text {
    text-decoration-line: none;
    font-family: 'square';
}

.login-here-text:hover{
    font-weight: bold;
    text-decoration: none;
    color: #39ff14;
    cursor: pointer;
}