.competitor-row {
	min-width: 150px;
	width: 100%;
	max-width: 500px;
}


.competitor-label {
	font-family: 'square';
	color: #f9ebff;
}

.vapor-btn {
	font-family: 'square';
	font-size: 1rem;
	width: 100%;
	padding: 7px;
	border-radius: 20px;
	border: 3px solid rgba(183, 0, 255, 0.9);
	background-color: #151314;
	color: #e3dce6;
	transition: all 0.3s ease;
	margin-top: 10px;
}

.vapor-btn:hover {
	border-color: #39ff14;
}



.glow-red {
    font-family: 'alien';
    font-size: 2rem;
    color: #FEEBEC;
    animation: glow-red 1.5s infinite alternate;
}

@keyframes glow-red {
    from {
        text-shadow: 0 0 5px #FC1723, 0 0 10px #FC1723, 0 0 20px #FC1723, 0 0 40px #FC1723;
    }
    to {
        text-shadow: 0 0 10px #FC1723, 0 0 20px #FC1723, 0 0 40px #FC1723, 0 0 80px #FC1723;
    }
}

.glow-green {
    font-family: 'alien';
    font-size: 2rem;
    color: #EEFFEB;
    animation: glow-green 1.5s infinite alternate;
}

@keyframes glow-green {
    from {
        text-shadow: 0 0 5px #39FF14, 0 0 10px #39FF14, 0 0 20px #39FF14, 0 0 40px #39FF14;
    }
    to {
        text-shadow: 0 0 10px #39FF14, 0 0 20px #39FF14, 0 0 40px #39FF14, 0 0 80px #39FF14;
    }
}

#tournament-modal {
    height: 90vh;
}

.winner {
    text-align: center;
}