.competitor-row {
	min-width: 150px;
	width: 100%;
	max-width: 500px;
}


.competitor-label {
	font-family: 'square';
	color: #f9eaff;
}

.competitor-form {

}



.vapor-btn {
	font-family: 'square';
	font-size: 1rem;
	width: 100%;
	padding: 7px;
	border-radius: 20px;
	border: 3px solid #b700ff;
	background-color: #151314;
	color: #e3dce6;
	transition: all 0.3s ease;
	margin-top: 10px; /* Add margin to space the buttons */
}

.vapor-btn:hover {
	border-color: #39ff14;
}