<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
</head>
<body>
    <h1>User Profile</h1>
    {% if user.is_authenticated %}
        <p><strong>Username:</strong> {{ user.username }}</p> 
        <p><strong>Email:</strong> {{ user.email }}</p> 

        <!-- If user has a photo -->
        {% if user.photo %}
            <img src="../../media/{{ user.username }}.jpg" alt="Profile Photo">
        {% else %}
            <img src="../../media/default.jpg" alt="Profile Photo">
        {% endif %}
        <a href="{% url 'chat' %}"> Chat</a>
        <a href="{% url 'logout_user' %}" class="btn btn-danger"> Logout</a>
    {% else %}
        <p>You are not logged in.</p>
        <a href="{% url 'login_user' %}"> login</a>
    {% endif %}
</body>
</html>