<!DOCTYPE html>
<html>

<head>
    <title></title>
</head>

<body>
    <h1>Verify Two-Factor Authentication</h1>
    <form method="post">
        {% csrf_token %}
        <label for="verification_code">Verification Code:</label>
        <input type="text" id="verification_code" name="verification_code" required>
        <button type="submit">Verify</button>
    </form>
    {% if error %}
    <p style="color: red;">{{ error }}</p>
    {% endif %}
    <script src="static/js/url-router.js"></script>
</body>

</html>